button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.playAreaContainer {
  display: grid;
  padding: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  justify-items: center;
}

.cardBack {
  height: 250px;
}
