.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 25%;
  width: 250px;
  row-gap: 30px;
  column-gap: 30px;
  background-color: aqua;
  align-items: flex-end;
  /* justify-self: flex-end; */
  margin: 20px;
}

.high-score {
}

.score-number {
  display: inline-block;
  width: 40px;
  text-align: right;
}
